@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-base text-gray-100 font-sans antialiased selection:bg-brand-500 selection:text-white;
  }
}

/* Custom Hide Scrollbar Utilities */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
