# Server Configuration
PORT=5000
MONGODB_URI=mongodb+srv://devpatelcodinggita_db_user:JdkDwI2TKtlCvZLG@cluster0.oiyexet.mongodb.net/cinestream
JWT_SECRET=cinestream_super_secret_jwt_key_2026
CLIENT_URL=https://cinestream-dev.netlify.app

# Telegram Media Provider (Optional production credentials)
# Do NOT configure these if you want to use the Mock Media Provider
TELEGRAM_CHANNEL_ID=1001324651698
TELEGRAM_API_ID=39243219
TELEGRAM_API_HASH=1d2a346250ff0e4861180d9cfff67cb0
